In [1]:
from requests import get, post
import pandas as pd
import numpy as np
import sympy as sp
from matplotlib import pyplot as plt

# Carga de Dados
[Origem dos Dados](https://github.com/binance/binance-spot-api-docs/blob/master/rest-api.md#klinecandlestick-data)

In [2]:
# Endpoints
url = 'https://api3.binance.com'
klines = url + '/api/v3/klines'
info = url + '/api/v3/exchangeInfo'

In [3]:
# Colunas
col = [
    'Open time','Open','High','Low','Close','Volume','Close time',
    'Quote asset volume','Number of trades','Taker buy base asset volume',
    'Taker buy quote asset volume','Ignore'
]

# Parametros
params = {
    "btc": {
    "symbol": "BTCUSDT",
    "interval": "1d",
    "limit": 1000
    },
    "eth": { 
    "symbol": "ETHUSDT",
    "interval": "1d",
    "limit": 1000
    },"ltc": { 
    "symbol": "LTCUSDT",
    "interval": "1d",
    "limit": 1000
    }
}

In [57]:
def clean(x):    
    # Obtendo dados
    asset = get(klines, params=params[x]).json()

    # Limando - > deixando apenas as colunas: (close, time_close)
    asset = np.array(asset, dtype=float)[..., 4:8:2]
    
    return asset

arr = np.concatenate([*map(clean, params)], axis=1)

df = pd.DataFrame(arr[..., 0::2], index=arr[..., 1], columns=params.keys())

# Calculando Taxa de Retorno Simples
$$
\frac{P_i - P_f}{P_i} = \frac{P_f}{P_i} - 1
$$

In [59]:
df['btc_return'] = (df.btc / df.btc.shift(1)) - 1
df['eth_return'] = (df.eth / df.eth.shift(1)) - 1
df['ltc_return'] = (df.ltc / df.ltc.shift(1)) - 1

In [71]:
f = lambda x: 'color: red' if x < 0 else 'color: green'
df.head(10).style.applymap(f, subset=['btc_return', 'eth_return', 'ltc_return'])

# Volatilidade usando Retornos Logaritmos

$$
log(\frac{P_t}{P_{t-1}})
$$

In [68]:
# Calculo de Retorno
df['btc_return'] = np.log(df.btc / df.btc.shift(1))
df['btc_return'] = np.log(df.btc / df.btc.shift(1))
df['btc_return'] = np.log(df.btc / df.btc.shift(1))

In [72]:
f = lambda x: 'color: red' if x < 0 else 'color: green'
df.head(10).style.applymap(f, subset=['btc_return', 'eth_return', 'ltc_return'])

### Análise do BTC, ETH e LTC

In [115]:
for i in df.iloc[:, 3:]:
    print(f'\033[31mRetorno Médio: {i}\033[m')
    print(df[i].mean())
    
    print(f'\033[31mRetorno Anual 360d: {i}\033[m')
    print(df[i].mean() * 365)

    print(f'\033[31mVolatilidade Média: {i}\033[m')
    print(df[i].std())

    print(f'\033[31mVolatilidade Anual 365: {i}\033[m')
    print(df[i].std() * 365 ** 0.5, end='\n\n')

Retorno Médio: btc_return
0.002029874618132326
Retorno Anual 360d: btc_return
0.7409042356182989
Volatilidade Média: btc_return
0.03934809795800291
Volatilidade Anual 365: btc_return
0.7517443559569279

Retorno Médio: eth_return
0.002518692027207086
Retorno Anual 360d: eth_return
0.9193225899305864
Volatilidade Média: eth_return
0.05032609203249631
Volatilidade Anual 365: eth_return
0.961478638260414

Retorno Médio: ltc_return
0.0019844977514809595
Retorno Anual 360d: ltc_return
0.7243416792905503
Volatilidade Média: ltc_return
0.05207671598829915
Volatilidade Anual 365: ltc_return
0.9949242619747394

In [116]:
def f(x):
    x = df[x].mean()
    
    y = df[x].mean() * 365

    z = df[x].std()

    w = df[x].std() * 365 ** 0.5
    return [x,y,z,w]