In [1]:
from requests import get, post
import pandas as pd
import numpy as np
import sympy as sp
from matplotlib import pyplot as plt

# Carga de Dados
**Origem dos dados**

In [2]:
# Endpoints
url = 'https://api3.binance.com'
klines = url + '/api/v3/klines'
info = url + '/api/v3/exchangeInfo'

In [3]:
# Colunas
col = [
    'Open time','Open','High','Low','Close','Volume','Close time',
    'Quote asset volume','Number of trades','Taker buy base asset volume',
    'Taker buy quote asset volume','Ignore'
]

# Parametros
params = {
    "btc": {
    "symbol": "BTCUSDT",
    "interval": "1d",
    "limit": 1000
    },
    "eth": { 
    "symbol": "ETHUSDT",
    "interval": "1d",
    "limit": 1000
    },"ltc": { 
    "symbol": "LTCUSDT",
    "interval": "1d",
    "limit": 1000
    }
}

In [4]:
def clean(x):    
    # Obtendo dados
    asset = get(klines, params=params[x]).json()

    # Limando - > deixando apenas as colunas: (close, time_close)
    asset = np.array(asset, dtype=float)[..., 4:8:2]
    
    return asset

arr = np.concatenate([*map(clean, params)], axis=1)

df = pd.DataFrame(arr[..., 0::2], index=arr[..., 1], columns=params.keys())

# Calculando Taxa de Retorno Simples
$$
\frac{P_i - P_f}{P_i} = \frac{P_f}{P_i} - 1
$$

In [5]:
df['btc_return'] = (df.btc / df.btc.shift(1)) - 1
df['eth_return'] = (df.eth / df.eth.shift(1)) - 1
df['ltc_return'] = (df.ltc / df.ltc.shift(1)) - 1

In [9]:
returns = ['btc_return', 'eth_return', 'ltc_return']
f = lambda x: 'color: red' if x < 0 else 'color: green'
df.head(10).style.applymap(f, subset=returns)

# Volatilidade usando Retornos Logaritmos

$$
log(\frac{P_t}{P_{t-1}})
$$

In [7]:
# Calculo de Retorno
df['btc_return'] = np.log(df.btc / df.btc.shift(1))
df['btc_return'] = np.log(df.btc / df.btc.shift(1))
df['btc_return'] = np.log(df.btc / df.btc.shift(1))

In [10]:
f = lambda x: 'color: red' if x < 0 else 'color: green'
df.head(10).style.applymap(f, subset=returns)

### Análise do BTC, ETH e LTC

In [1]:
def f(asset):
    x = df[asset].mean() * 100
    
    y = df[asset].mean() * 365 * 100

    z = df[asset].std() * 100

    w = df[asset].std() * 365 ** 0.5 * 100
    return [x,y,z,w]

col = ['Retorno Médio Diário', 'Retorno Médio Anual', 'Desvio Padrão Diário', 'Desvio Padrão Anual']

df_return = pd.DataFrame(map(f, returns), index=returns, columns=col)

NameError: name 'pd' is not defined

In [ ]:
df_return.style.format('{:.2f}%')