In [115]:
from requests import get, post
import pandas as pd
import numpy as np

In [100]:
url = 'https://api3.binance.com'
klines = url + '/api/v3/klines'
info = url + '/api/v3/exchangeInfo'

In [101]:
r_json = get(info).json()

In [102]:
for i in r_json['symbols']:
    if "BTCUSDT" in i['symbol']: print(i)

{'symbol': 'BTCUSDT', 'status': 'TRADING', 'baseAsset': 'BTC', 'baseAssetPrecision': 8, 'quoteAsset': 'USDT', 'quotePrecision': 8, 'quoteAssetPrecision': 8, 'baseCommissionPrecision': 8, 'quoteCommissionPrecision': 8, 'orderTypes': ['LIMIT', 'LIMIT_MAKER', 'MARKET', 'STOP_LOSS_LIMIT', 'TAKE_PROFIT_LIMIT'], 'icebergAllowed': True, 'ocoAllowed': True, 'quoteOrderQtyMarketAllowed': True, 'isSpotTradingAllowed': True, 'isMarginTradingAllowed': True, 'filters': [{'filterType': 'PRICE_FILTER', 'minPrice': '0.01000000', 'maxPrice': '1000000.00000000', 'tickSize': '0.01000000'}, {'filterType': 'PERCENT_PRICE', 'multiplierUp': '5', 'multiplierDown': '0.2', 'avgPriceMins': 5}, {'filterType': 'LOT_SIZE', 'minQty': '0.00000100', 'maxQty': '9000.00000000', 'stepSize': '0.00000100'}, {'filterType': 'MIN_NOTIONAL', 'minNotional': '10.00000000', 'applyToMarket': True, 'avgPriceMins': 5}, {'filterType': 'ICEBERG_PARTS', 'limit': 10}, {'filterType': 'MARKET_LOT_SIZE', 'minQty': '0.00000000', 'maxQty': '105.37513149', 'stepSize': '0.00000000'}, {'filterType': 'MAX_NUM_ORDERS', 'maxNumOrders': 200}, {'filterType': 'MAX_NUM_ALGO_ORDERS', 'maxNumAlgoOrders': 5}], 'permissions': ['SPOT', 'MARGIN']}

In [125]:
params = { 
    "symbol": "BTCUSDT",
    "interval": "1d",
    "limit": 1000
}

In [126]:
r = get(klines, params=params)

In [127]:
r_json = r.json()

In [128]:
df = pd.DataFrame(r_json, columns=['Open time',
                                   'Open',
                                   'High',
                                   'Low',
                                   'Close',
                                   'Volume',
                                   'Close time',
                                   'Quote asset volume',
                                   'Number of trades',
                                   'Taker buy base asset volume',
                                   'Taker buy quote asset volume',
                                   'Ignore'
                                   ])

In [129]:
df

,Open time,Open,High,Low,Close,Volume,Close time,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
0,1528675200000,6765.00000000,6922.00000000,6610.00000000,6872.00000000,34552.16230300,1528761599999,233056682.85777126,203442,18716.66705700,126255580.92727299,0
1,1528761600000,6872.00000000,6890.51000000,6435.00000000,6530.00000000,36722.21119100,1528847999999,245787800.80122349,224658,19299.73550800,129341137.97553147,0
2,1528848000000,6530.00000000,6627.60000000,6118.68000000,6292.78000000,46185.51810000,1528934399999,295395681.66234120,266517,25367.24335900,162375277.43848027,0
3,1528934400000,6292.78000000,6720.00000000,6260.00000000,6635.98000000,44478.13083700,1529020799999,289074808.78412993,256384,23838.21856500,154927680.45566283,0
4,1529020800000,6638.67000000,6666.66000000,6362.31000000,6388.90000000,30018.32990500,1529107199999,196192096.14553953,184938,16192.45244700,105856682.82114991,0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,1614643200000,49595.76000000,50200.00000000,47047.60000000,48440.65000000,64221.06214000,1614729599999,3120472069.90945280,1855583,31377.03807700,1525145370.14352052,0
996,1614729600000,48436.61000000,52640.00000000,48100.71000000,50349.37000000,81035.91370500,1614815999999,4109521257.54070026,2242131,40955.36839900,2077586898.67821050,0
997,1614816000000,50349.37000000,51773.88000000,47500.00000000,48374.09000000,82649.71682900,1614902399999,4079837240.85676201,2291936,40269.97788800,1987955554.80481454,0
998,1614902400000,48374.09000000,49448.93000000,46300.00000000,48751.71000000,78192.49637200,1614988799999,3727133104.83731038,2054216,38318.31037700,1827025012.21754943,0
999,1614988800000,48746.81000000,49156.00000000,48115.83000000,48315.78000000,5051.06828100,1615075199999,245884994.16675534,151211,2431.43802300,118351053.19886925,0